<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
{{> header}}
<p>This is my portfolio, which is kinda meh...</p>

{{> footer}}
</body>
</html>